<!-- INDEX -->
  <script type="text/x-handlebars" id="index">
    <h2>Lesson 1</h2>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-m2fVWj99x4" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <p>1) Install Middleman</p>
    <pre>
      <code><span class="terminal">$ gem install middleman</span></code>
    </pre>
    <br>
    <p>2) Install Middleman</p>
    <pre>
      <code><span class="terminal">$ gem install middleman</span></code>
    </pre>
    <br>
    <p>3) Install Middleman</p>
    <pre>
      <code><span class="terminal">$ gem install middleman</span></code>
    </pre>
    <br>
  </script>
<!-- ABOUT -->

  <script type="text/x-handlebars" id="about">
    <h2>About<img src="images/embermmblack.svg"></h2>
    <div class="abouttext">
      <p>Hello!</p>
      <p>EmberMM is an opensource personal project.</p>
      <p>I made this to serve as a boilerplate for Middleman using EmberJS and Bootstrap to help streamline the development process and make it easier to start a project. I have used The CSS3 Animation Cheatsheet from Justin Aguilar to easily add animations without needing much or any jQuery experience. I also added some custom SCSS variables in plain english to help easily customize bootstrap without the headache of searching for classnames. Mark Allen was nice enough to contribute a (simple) but extremely efficient way of safely console logging your JS/jQuery code without having to worry about crashing Internet Explorer.</p>
      <p>If you can or want to use this, Feel free!</p>
      <p> -Danny Vassallo</p>
    </div>

  </script>

<!-- TEST -->

  <script type="text/x-handlebars" id="test">
    <h2>Test Page</h2>
    <p><%= lorem.paragraphs 10 %></p>
  </script>

<!-- CONSOLE -->

  <script type="text/x-handlebars" id="console">

  </script>
